In [ ]:
import os
import pandas as pd
import numpy as np

from sqlalchemy import create_engine

In [ ]:
path_to_db_local = 'telecomm_csi.db'
path_to_db_platform = '/datasets/telecomm_csi.db'
path_to_db = None

if os.path.exists(path_to_db_local):
    path_to_db = path_to_db_local
elif os.path.exists(path_to_db_platform):
    path_to_db = path_to_db_platform
else:
    raise Exception('Файл с базой данных SQLite не найден!')

if path_to_db:
    engine = create_engine(f'sqlite:///{path_to_db}', echo=False)

In [ ]:
query = """
    SELECT user_id, lt_day,
CASE
WHEN lt_day > 365 THEN 0
ELSE 1
END is_new,
age, gender_segment, os_name, cpe_type_name, country, city, a.title AS age_segment,
t.title AS traffic_segment, lt.title AS lifetime_segment, nps_score,
CASE
WHEN nps_score >= 7 AND nps_score < 9 THEN 'нейтралы'
WHEN nps_score >= 9 THEN 'cторонники'
ELSE 'критики'
END nps_group
FROM user AS u
LEFT JOIN location AS l ON u.location_id = l.location_id
LEFT JOIN age_segment AS a ON u.age_gr_id = a.age_gr_id
LEFT JOIN traffic_segment AS t ON t.tr_gr_id = u.tr_gr_id
LEFT JOIN lifetime_segment AS lt ON lt.lt_gr_id = u.lt_gr_id
"""

In [ ]:
df = pd.read_sql(query, engine)
df.head(3)

,user_id,lt_day,is_new,age,gender_segment,os_name,cpe_type_name,country,city,age_segment,traffic_segment,lifetime_segment,nps_score,nps_group
0,A001A2,2320,0,45.0,1.0,ANDROID,SMARTPHONE,Россия,Уфа,05 45-54,04 1-5,08 36+,10,cторонники
1,A001WF,2344,0,53.0,0.0,ANDROID,SMARTPHONE,Россия,Киров,05 45-54,04 1-5,08 36+,10,cторонники
2,A003Q7,467,0,57.0,0.0,ANDROID,SMARTPHONE,Россия,Москва,06 55-64,08 20-25,06 13-24,10,cторонники

In [ ]:
df.to_csv('telecomm_csi_tableau.csv', index=False)

https://public.tableau.com/app/profile/nane.agamalyan/viz/_16822661813770/sheet8#1

https://disk.yandex.ru/i/XeZGImftrcVxKQ